#comments
  = render @comments
  /*- @comments.each do |comment|*/
    /*= div_for comment do*/
      /*.well*/
        /*= link_to '&times;'.html_safe, [@commentable, comment], method: :delete, remote: true, :class => 'close'*/
        /*= simple_format comment.content*/
