.row
  = render "sidebar"

  .span9
    .well
      %legend= t('highlights.dishes.title')
      #dishes
        = render @dishes
      .form-actions
        = link_to t("helpers.links.more"), dishes_path, :class => 'btn'

